<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tian.pusen.offer.mapper.CustomerOrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="tian.pusen.offer.entity.CustomerOrder">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="product_id" property="productId" />
		<result column="offer_id" property="offerId" />
		<result column="price" property="price" />
		<result column="currency" property="currency" />
		<result column="size" property="size" />
		<result column="lead_time" property="leadTime" />
		<result column="delivery_time" property="deliveryTime" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
	</resultMap>

</mapper>
